# app
APP_NAME=""
APP_VERSION=""
APP_DESCRIPTION=""

# server
SERVER_PROTOCOL=""
SERVER_HOST=""
SERVER_PORT=""
SERVER_TIMEOUT= # seconds

# client
CLIENT_URL=""

# authentication
BCRYPT_COST=
JWT_ISSUER=""
JWT_AUDIENCES=""
JWT_SECRET=""
JWT_DURATION= # minutes
SESSION_DURATION= # minutes
RESET_TOKEN_DURATION= # minutes
VERIFY_TOKEN_DURATION= # minutes
LOCK_DURATION= # minutes

# database
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASS=""
DB_NAME=""
DB_SSL_MODE=""
DB_MAX_IDLE_CONNS=
DB_MAX_OPEN_CONNS=
DB_CONN_MAX_LIFETIME=

# cache
CACHE_HOST=""
CACHE_PORT=""
CACHE_PASS=""
CACHE_MAX_RETRIES= # times
CACHE_BASE_DELAY= # milliseconds

# mailer
MAILER_HOST=""
MAILER_PORT=
MAILER_USER=""
MAILER_PASS=""

# google oauth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URL=""

# microsoft oauth
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_REDIRECT_URL=""

# tracer
TRACER_ENDPOINT=""